################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSIS Package/CSV_to_Prod/.vs/CSV_to_Prod/FileContentIndex
